body{
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 1rem;
    margin: 0;
    height: 100%;
}

button{
    font-size: 1rem;
}

input {
    width: 700px;
    padding: 8px;
    border-radius: 16px;
    border: solid 1px #003A6B;
    background-color: transparent;
    outline-color: #003A6B;
}

label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

label span {
    min-width: 80px; 
}

select{
    width: 35px;
    border: none;
    outline: none;
}

/* classes */

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

.btn{
    padding: 8px 0px;
    width: 80px;
    border-radius: 16px;
    border: solid 1px #003A6B;
    background-color: transparent;
}

.btn.active{
    background-color: #003A6B;
    color: rgb(255,255,255, 0.9);
}

.btn:hover{
    background-color: #003A6B;
    color: rgb(255,255,255, 0.9);
}

.btn-blue{
    padding: 8px 0px;
    width: 80px;
    border-radius: 16px;
    border: solid 1px #003A6B;
    background-color: #003A6B;
}

.btn-blue:hover{
    background-color: transparent;
    color: black;
}

.btn-green{
    padding: 8px 0px;
    width: 80px;
    border-radius: 16px;
    border: solid 1px green;
    color: rgb(255,255,255, 0.9);
    background-color: green;
}

.btn-green:hover{
    border: solid 1px green;
    background-color: transparent;
}

.btn-red{
    padding: 8px 0px;
    width: 80px;
    border: solid 1px red;
    border-radius: 16px;
    color: rgb(255,255,255, 0.9);
    background-color: red;
}

.btn-red:hover{
    color: red;
    background-color: transparent;
}

.btn-transparent{
    background: transparent;
    border: none;
}

.center{
    display: flex;
    justify-content: center;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.col {
    flex-direction: column;
}

.container{
    width: 100%;
    margin: 20px;
}

.end {
    justify-content: right;
}

.flex{
    display: flex;
}

.gap-10{
    gap: 10px;
}

.gray{
    color: #A9A9A9;
}

.green{
    color: green;
}

.page { display: none; }

.page.active { display: block; }

.pagination-controls {
    display: flex;
    gap: 20px;
}

.pagination-controls button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    color: rgb(255,255,255, 0.9);
    background-color: rgb(0,0,0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-controls button:hover {
    color: rgb(255,255,255, 0.9);
    background-color: rgb(0,0,0, 0.1);
}

.red{
    color: red;
}

.v-center{
    align-items: center;
}

.white{
    color: rgb(255,255,255, 0.9);
}












