<app-navbar />
<div class="container">
    <br>
    <strong class="center">Home</strong>
    
    <div class="content">
        <div class="flex gap-10 v-center">
            <button type="button" class="btn"  [ngClass]="status === Active.Present ? ['btn-blue', 'white'] : []" (click)="toggleStatus('present')">Present</button>
            <button type="button" class="btn"  [ngClass]="status === Active.Absent ? ['btn-blue', 'white'] : []" (click)="toggleStatus('absent')">Absent</button>
            <div>{{currentDate | date: "fullDate"}}</div>
        </div>

        <div class="content flex col">
            <div class="item flex" *ngFor="let user of users">
                <strong class="name">{{user.name}}</strong>
                <div class="circle bg-green" *ngIf="user.status=='present'"></div> 
                <div class="circle bg-red" *ngIf="user.status=='absent'"></div> 
                <select aria-label="Choose action" (change)="onSelect($event)">
                    <option disabled selected hidden></option>
                    <option value="present">Mark present</option>
                    <option value="absent">Mark absent</option>
                </select>
            </div>
        </div>
    </div>
</div>
