<app-navbar />
<div class="container">
    <br>
    <strong class="center">Home</strong>
    
    <div class="content">
        <div class="flex gap-10 v-center">
            <button type="button" class="btn"  [ngClass]="status === Active.Present ? ['btn-blue', 'white'] : []" (click)="toggleStatus('present')">Present</button>
            <button type="button" class="btn"  [ngClass]="status === Active.Absent ? ['btn-blue', 'white'] : []" (click)="toggleStatus('absent')">Absent</button>
            <div>{{currentDate | date: "fullDate"}}</div>
        </div>

        <ng-container *ngIf="users.length===0">
            <br><br><br><br><br>
            <div class="gray">No tutors registered.</div>
        </ng-container>

        <div class="content flex col">
            
            <ng-container *ngFor="let user of users">
                <div class="item flex" 
                *ngIf="status === Active.Present && user.status=='present' || status === Active.Absent && user.status=='absent'">
                    <strong class="name">{{user.name}}</strong>
                    <div class="circle bg-green" *ngIf="user.status=='present'"></div> 
                    <div class="circle bg-red" *ngIf="user.status=='absent'"></div> 
                    <select aria-label="Choose action"  (change)="onSelect($event, user)">
                        <option disabled selected hidden></option>
                        <option value="present">Mark present</option>
                        <option value="absent">Mark absent</option>
                    </select>
                </div>
            </ng-container>
        </div>
    </div>
</div>
