<app-navbar />
<div class="container">
    <div class="flex">
        <button type="button" class="btn-blue white" (click)="viewForm()">+ tutor</button>
    </div>
    <br>
    <strong class="center">Schedules</strong>
    <div class="content">
        <div>
            <div class="item flex">
                <button *ngFor="let day of days"
                        class="btn"
                        [ngClass]="{'active': activeDay === day.id}"
                        (click)="selectDay(day.id)">
                  {{day.name.substring(0,3)}}
                </button>
            </div>
            <br><br><br>
            <div class="item flex"  *ngFor="let schedule of schedules"> 
                <strong class="name" 
                *ngIf="
                (activeDay === 1 && (schedule.mon_Shift1 || schedule.mon_Shift2 || schedule.mon_Shift3)) ||
                (activeDay === 2 && (schedule.tue_Shift1 || schedule.tue_Shift2 || schedule.tue_Shift3)) ||
                (activeDay === 3 && (schedule.wed_Shift1 || schedule.wed_Shift2 || schedule.wed_Shift3)) ||
                (activeDay === 4 && (schedule.thu_Shift1 || schedule.thu_Shift2 || schedule.thu_Shift3)) ||
                (activeDay === 5 && (schedule.fri_Shift1 || schedule.fri_Shift2 || schedule.fri_Shift3)) ||
                (activeDay === 6 && (schedule.sat_Shift1 || schedule.sat_Shift2 || schedule.sat_Shift3)) ||
                (activeDay === 7 && (schedule.sun_Shift1 || schedule.sun_Shift2 || schedule.sun_Shift3))
                ">
                    {{schedule.name}}
                </strong>
                <ng-container *ngIf="activeDay === 1">
                    <div class="time" *ngIf="schedule.mon_Shift1">{{ schedule.mon_Shift1 }}</div> 
                    <div class="time" *ngIf="schedule.mon_Shift2">{{ schedule.mon_Shift2 }}</div> 
                    <div class="time" *ngIf="schedule.mon_Shift3">{{ schedule.mon_Shift3 }}</div>
                    <div class="gray time" *ngIf="schedule.mon_Break">{{ schedule.mon_Break }}</div>
                </ng-container>
                  
                <ng-container *ngIf="activeDay === 2">
                    <div class="time" *ngIf="schedule.tue_Shift1">{{ schedule.tue_Shift1 }}</div>
                    <div class="time" *ngIf="schedule.tue_Shift2">{{ schedule.tue_Shift2 }}</div>
                    <div class="time" *ngIf="schedule.tue_Shift3">{{ schedule.tue_Shift3 }}</div>
                    <div class="gray time" *ngIf="schedule.tue_Break">{{ schedule.tue_Break }}</div>
                </ng-container>
                  
                <ng-container *ngIf="activeDay === 3">
                    <div class="time" *ngIf="schedule.wed_Shift1">{{ schedule.wed_Shift1 }}</div>
                    <div class="time" *ngIf="schedule.wed_Shift2">{{ schedule.wed_Shift2 }}</div>
                    <div class="time" *ngIf="schedule.wed_Shift3">{{ schedule.wed_Shift3 }}</div>
                    <div class="gray time" *ngIf="schedule.wed_Break">{{ schedule.wed_Break }}</div>
                 </ng-container>
                  
                <ng-container *ngIf="activeDay === 4">
                    <div class="time" *ngIf="schedule.thu_Shift1">{{ schedule.thu_Shift1 }}</div>
                    <div class="time" *ngIf="schedule.thu_Shift2">{{ schedule.thu_Shift2 }}</div>
                    <div class="time" *ngIf="schedule.thu_Shift3">{{ schedule.thu_Shift3 }}</div>
                    <div class="gray time" *ngIf="schedule.thu_Break">{{ schedule.thu_Break }}</div>
                </ng-container>
                  
                <ng-container *ngIf="activeDay === 5">
                    <div class="time" *ngIf="schedule.fri_Shift1">{{ schedule.fri_Shift1 }}</div>
                    <div class="time" *ngIf="schedule.fri_Shift2">{{ schedule.fri_Shift2 }}</div>
                    <div class="time" *ngIf="schedule.fri_Shift3">{{ schedule.fri_Shift3 }}</div>
                    <div class="gray time" *ngIf="schedule.fri_Break">{{ schedule.fri_Break }}</div>
                </ng-container>
                  
                <ng-container *ngIf="activeDay === 6">
                    <div class="time" *ngIf="schedule.sat_Shift1">{{ schedule.sat_Shift1 }}</div>
                    <div class="time" *ngIf="schedule.sat_Shift2">{{ schedule.sat_Shift2 }}</div>
                    <div class="time" *ngIf="schedule.sat_Shift3">{{ schedule.sat_Shift3 }}</div>
                    <div class="gray time" *ngIf="schedule.sat_Break">{{ schedule.sat_Break }}</div>
                </ng-container>
                  
                <ng-container *ngIf="activeDay === 7">
                    <div class="time" *ngIf="schedule.sun_Shift1">{{ schedule.sun_Shift1 }}</div>
                    <div class="time" *ngIf="schedule.sun_Shift2">{{ schedule.sun_Shift2 }}</div>
                    <div class="time" *ngIf="schedule.sun_Shift3">{{ schedule.sun_Shift3 }}</div>
                    <div class="gray time" *ngIf="schedule.sun_Break">{{ schedule.sun_Break }}</div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="add-form flex col" [class.hidden]="!showForm">
    <br>
    <div class="flex space-between v-center width center">
        <strong>Add a tutor</strong> 
        <button class="btn-transparent" (click)="hideForm()">X</button>
    </div>
    
    <form [formGroup]="scheduleForm" (ngSubmit)="submitForm()">
        <p class="subtext red center" *ngIf="submitted && scheduleForm.invalid">Error: Missing input</p>
       
        <input type="text" formControlName="name" placeholder="Name" required />
        <br />
        
        <!-- Monday -->
        <p class="subtext blue">Format: Type '9:00 am - 9:30 pm' or 'null' if no shift.</p>
        <div class="flex col gap">
        <strong>Monday</strong>
        <input type="text" formControlName="mon_Shift1" placeholder="Shift 1" required />
        <input type="text" formControlName="mon_Shift2" placeholder="Shift 2" required />
        <input type="text" formControlName="mon_Shift3" placeholder="Shift 3" required />
        <input type="text" formControlName="mon_Break" placeholder="Break" required />
        </div>
        <br /><br />

        <!-- Tuesday -->
        <p class="subtext blue">Format: Type '9:00 am - 9:30 pm' or 'null' if no shift.</p>
        <div class="flex col gap">
        <strong>Tuesday</strong>
        <input type="text" formControlName="tue_Shift1" placeholder="Shift 1" required />
        <input type="text" formControlName="tue_Shift2" placeholder="Shift 2" required />
        <input type="text" formControlName="tue_Shift3" placeholder="Shift 3" required />
        <input type="text" formControlName="tue_Break" placeholder="Break" required />
        </div>
        <br /><br />
      
        <!-- Wednesday -->
        <p class="subtext blue">Format: Type '9:00 am - 9:30 pm' or 'null' if no shift.</p>
        <div class="flex col gap">
        <strong>Wednesday</strong>
        <input type="text" formControlName="wed_Shift1" placeholder="Shift 1" required />
        <input type="text" formControlName="wed_Shift2" placeholder="Shift 2" required />
        <input type="text" formControlName="wed_Shift3" placeholder="Shift 3" required />
        <input type="text" formControlName="wed_Break" placeholder="Break" required />
        </div>
        <br /><br />
      
        <!-- Thursday -->
        <p class="subtext blue">Format: Type '9:00 am - 9:30 pm' or 'null' if no shift.</p>
        <div class="flex col gap">
        <strong>Thursday</strong>
        <input type="text" formControlName="thu_Shift1" placeholder="Shift 1" required />
        <input type="text" formControlName="thu_Shift2" placeholder="Shift 2" required />
        <input type="text" formControlName="thu_Shift3" placeholder="Shift 3" required />
        <input type="text" formControlName="thu_Break" placeholder="Break" required />
        </div>
        <br /><br />
      
        <!-- Friday -->
        <p class="subtext blue">Format: Type '9:00 am - 9:30 pm' or 'null' if no shift.</p>
        <div class="flex col gap">
        <strong>Friday</strong>
        <input type="text" formControlName="fri_Shift1" placeholder="Shift 1" required />
        <input type="text" formControlName="fri_Shift2" placeholder="Shift 2" required />
        <input type="text" formControlName="fri_Shift3" placeholder="Shift 3" required />
        <input type="text" formControlName="fri_Break" placeholder="Break" required />
        </div>
        <br /><br />
      
        <!-- Saturday -->
        <p class="subtext blue">Format: Type '9:00 am - 9:30 pm' or 'null' if no shift.</p>
        <div class="flex col gap">
        <strong>Saturday</strong>
        <input type="text" formControlName="sat_Shift1" placeholder="Shift 1" required />
        <input type="text" formControlName="sat_Shift2" placeholder="Shift 2" required />
        <input type="text" formControlName="sat_Shift3" placeholder="Shift 3" required />
        <input type="text" formControlName="sat_Break" placeholder="Break" required />
        </div>
        <br /><br />

        <!-- Sunday -->
        <p class="subtext blue">Format: Type '9:00 am - 9:30 pm' or 'null' if no shift.</p>
        <div class="flex col gap">
        <strong>Sunday</strong>
        <input type="text" formControlName="sun_Shift1" placeholder="Shift 1" required />
        <input type="text" formControlName="sun_Shift2" placeholder="Shift 2" required />
        <input type="text" formControlName="sun_Shift3" placeholder="Shift 3" required />
        <input type="text" formControlName="sun_Break" placeholder="Break" required />
        </div>
        <br /><br />
      
        <div class="flex form-btn">
            <button type="submit" class="btn-blue white" [disabled]="!scheduleForm.valid">add</button>
        </div>
    </form>
      

</div> 