<app-navbar />
<br />
<br />
<!-- change to table later -->
<div class="content">
    <div class="item flex"> <strong>Farrah Pepino</strong> <div>8:00 pm - 9:00 pm</div> | <div class="gray">9:00 pm - 9:30 pm</div> | <div>9:30 pm - 11:00 pm</div> </div>
    <div class="item flex"> <strong>Farrah Pepino</strong> <div>8:00 pm - 9:00 pm</div> | <div class="gray">9:00 pm - 9:30 pm</div> | <div>9:30 pm - 11:00 pm</div> </div>
    <div class="item flex"> <strong>Farrah Pepino</strong> <div>8:00 pm - 9:00 pm</div> | <div class="gray">9:00 pm - 9:30 pm</div> | <div>9:30 pm - 11:00 pm</div> </div>
    <div class="item flex"> <strong>Farrah Pepino</strong> <div>8:00 pm - 9:00 pm</div> | <div class="gray">9:00 pm - 9:30 pm</div> | <div>9:30 pm - 11:00 pm</div> </div>
    <div class="item flex"> <strong>Farrah Pepino</strong> <div>8:00 pm - 9:00 pm</div> | <div class="gray">9:00 pm - 9:30 pm</div> | <div>9:30 pm - 11:00 pm</div> </div>
</div>
