<app-navbar />
<br>
<div class="container">
    <strong class="center">Logs</strong>
    <br><br>
    <div *ngFor="let group of groupedLogs">
        <hr class="gray">
        <strong class="gray">{{ group.date }}</strong>
        <br><br>
        <div *ngFor="let log of group.logs">
            <ng-container *ngIf="log.status==='present'">
                <div class="flex item">{{ log.name }}<div class="circle bg-green"></div></div>
            </ng-container>
        </div>
        <br>
    </div>
</div>