<app-navbar />
<br />
<button type="button" class="btn">Add tutor</button>

<div class="content">
    <div class="item flex"> <strong>Farrah Pepino</strong> <div class="flex"><div class="circle bg-green"></div> <button>option</button></div></div>
</div>

<div class="add-form flex col">
    <label for="name"><span>Name</span>
        <input type="text"/> 
    </label>
    <label for="shift-1"><span>Shift 1</span>
        <input type="text"/> 
    </label>
    <label for="shift-2"><span>Shift 2</span>
        <input type="text"/> 
    </label>
    <label for="shift-3"><span>Shift 3</span>
        <input type="text"/> 
    </label>
    <label for="break"><span>Break</span>
        <input type="text"/> 
    </label>
    <div class="flex gap-10 right">
        <button type="button" class="btn btn-red red">cancel</button>
        <button type="button" class="btn btn-green green">add</button>
    </div>

</div>