<app-navbar />
<div class="container">
    <br>
    <strong class="center">Tutors</strong>
    <ng-container *ngIf="users.length===0">
        <br><br><br><br><br>
        <div class="gray">No tutors registered.</div>
    </ng-container>
    <div class="content flex col">
        <div class="item flex" *ngFor="let user of users">
            <strong class="name">{{user.name}}</strong>
            <div *ngIf="currentUser?.role==='admin'">{{user.userCode}}</div>

            <div class="circle bg-green" *ngIf="user.status=='present'"></div> 
            <div class="circle bg-red" *ngIf="user.status=='absent'"></div> 
            <select aria-label="Choose action" (change)="onSelect($event, user)" *ngIf="user.id === currentUser?.id || currentUser?.role==='admin'">
                <option disabled selected hidden></option>
                <option value="present">Mark present</option>
                <option value="absent">Mark absent</option>
                <option value="remove" [hidden]="currentUser?.role === 'user'">Remove tutor</option>
            </select>
        </div>
    </div>
</div>
