<app-navbar />
<div class="container">
    <br>
    <strong class="center">Tutors</strong>
    <div class="content flex col">
        <div class="item flex">
            <strong class="name">Farrah Pepino</strong>
            <div class="circle bg-green"></div> 
            <select aria-label="Choose action" (change)="onSelect($event)">
                <option disabled selected hidden></option>
                <option value="present">Mark present</option>
                <option value="absent">Mark absent</option>
                <option value="remove">Remove tutor</option>
            </select>
        </div>

        <div class="item flex">
            <strong class="name">Another Tutor</strong>
            <div class="circle bg-green"></div> 
            <select aria-label="Choose action" (change)="onSelect($event)">
                <option disabled selected hidden></option>
                <option value="present">Mark present</option>
                <option value="absent">Mark absent</option>
                <option value="remove">Remove tutor</option>
            </select>
        </div>
    </div>
</div>
